{%  extends "material/base.html" %}

{%  block navbar %}
        <nav class="primary-color" role="navigation">
            <div class="nav-wrapper container">
                <a id="logo-container" class="brand-logo" href="{{ "/" }}">Fablab User Managment</a>

                <ul class="right hide-on-med-and-down">
                    <li {% if request.path == url_for('recipes.home') %}class="active" {% endif %}><a href="{{ url_for('recipes.home')}}">Home</a></li>
                    {% if current_user.is_anonymous %}
                        <li><a href="{{ url_for('security.login')}}">Login</a></li>
                    {% else %}
                        {% if current_user.has_role('admin') %}
                            <li {% if request.path == url_for('recipes.admin') %}class="active" {% endif %}><a href="{{ url_for('recipes.admin')}}">Admin</a></li>
                        {% endif %}

                        <li><a href="{{ url_for('security.logout')}}"><div class="valign-wrapper">{{current_user.email}}<i class="material-icons">logout</i></div></a></li>
                    {% endif %}
                </ul>

                <ul class="right hide-on-med-and-down">
                    <li {% if request.path == url_for('recipes.home') %}class="active" {% endif %}><a href="{{ url_for('recipes.home')}}">Home</a></li>
                    {% if current_user.is_anonymous %}
                        <li><a href="{{ url_for('security.login')}}">Login</a></li>
                    {% else %}
                        {% if current_user.has_role('admin') %}
                            <li {% if request.path == url_for('recipes.admin') %}class="active" {% endif %}><a href="{{ url_for('recipes.admin')}}">Admin</a></li>
                        {% endif %}

                        <li><a href="{{ url_for('security.logout')}}"><div class="valign-wrapper">{{current_user.email}}<i class="material-icons">logout</i></div></a></li>
                    {% endif %}
                </ul>

             </div>
        </nav>
{% endblock %}
