{% extends "base.html" %}

{% block content %}
<div>Your Acivity</div>
<br>
<table style="width=100%" border="1">
    <tr align="left">
        <th>Date</th>
        <th>Durations in s</th>
        <th>Usage Type</th>
        <th>Invoice</th>
    </tr>
    {% for usage in user.usages %}
    <tr>
        <td>{{ usage.date.strftime("%Y-%m-%d %H:%M:%S") }}</td>
        <td>{{ usage.duration }}</td>
        <td>{{ usage.type }}</td>
        <td><a href="{{ url_for('recipes.invoice', usage_id=usage.id ) }}">invoice</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
