<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Rechnung-Id: {{usage.id }}</title>
</head>

<body>
    <table style="width:100%">
        <tr>
           <td>Place for a logo</td> 
           <td>
           <table style="width=100%" align="right">
              <tr>
                  <td align="left">Rechnungsnummer:</td>
                  <td align="right">{{ usage.id }}</td>
              </tr>
              <tr align="right">
                  <td align="left">Datum:</td>
                  <td align="right">{{ date.strftime("%d.%m.%Y")}}</td>
              </tr>
           </table>
           </td>
        </tr>
    </table>
    <table align="left" style="width:100%">
        <tr><td><br><td></tr>
        <tr><td>Kempodium e.V.<td></tr>
        <tr><td>Untere Eicher Straße 3</td></tr>
        <tr><td>87435 Kempten<td></tr>
        <tr><td>info@fablab-allgaeu.de<td></tr>
        <tr><td><br><td></tr>
        
        <tr><td>{{user.name}}</td></tr>
        <tr><td>{{user.street}}</td></tr>
        <tr><td>{{user.city}}</td></tr>
    </table>
    <h2>Rechnung</h2>
    <table style="100%">
        <tr>
            <th align="left">Anzahl</th>
            <th align="left">Einheit</th>
            <th align="left">Einzelpreis</th>
            <th align="left">Beschreibung</th>
            <th align="left">Gesamtpreis</th>
        </tr>
        <tr>
            <td>25</td>
            <td>Minuten</td>
            <td>1€</td>
            <td>Lasercutter</td>
            <td>25€</td>
        </tr>
    </table>
    <br><br>
    <label>Bitte überweisen Sie den Rechnungsbetrag mit der Rechnungsnummer als Verwendungszweck bis zum XXXX auf unser Konto.</label>
    <br><br>
    <table align="left" style="width:100%">
        <tr><td>Kempodium e.V.<td></tr>
        <tr><td>IBAN: ljkadsfalsdkfj</td></tr>
        <tr><td>IBAN: ljkadsfalsdkfj</td></tr>
        <tr><td>Bank: ljkadsfalsdkfj</td></tr>
    </table>
    
</body>
</html>
