
{% extends "base.html" %}

{% block content %}
<h2>Add new role:</h2>
    <form action="" method="post" novalidate>
        {{ form.csrf_token }}
        {{ form.hidden_tag() }}
        <p>
            {{ form.role.label }}<br>
            {{ form.role(size=32) }}
            <br>
            {% for error in form.role.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>

<h2>Roles</h2>
<table style="width=100%" border="1">
    <tr align="left">
        <th>User</th>
        {% for role in Role.query.all() %}
            <th>{{ role.name }}</th>
        {% endfor %}
    </tr>
    {% for user in User.query.all() %}
    <tr>
        <td>{{ user.email }}</td>
        {% for role in Role.query.all() %}
            <td>
                <input type='checkbox'
                {% if user.has_role(role) %}
                    checked 
                    onclick="javascript:window.location.href='{{url_for("recipes.role_rm_user", user=user.email, role=role.name)}}';return false;"
                {% else %}
                    onclick="javascript:window.location.href='{{url_for("recipes.role_add_user", user=user.email, role=role.name)}}';return false;"
                {% endif %}
                >
            </td>
        {% endfor %}
    </tr>
    {% endfor %}
    <tr>
    <td></td>
    {% for role in Role.query.all() %}
        <td><a href="{{ url_for('recipes.role_delete', role=role.name )}}">delete</a></td>
    {% endfor %}
    </tr>
</table>
{% endblock %}

