{% extends "base.html" %}

{% block content %}
<table style="width=100%" border="1">
    <tr align="left">
        <th>email</th>
        <th>rfid tag</th>
<!--        <th>active</th>
        <th>confirmed at</th> -->
        <th>login count</th>
        <th>modify user</th>
    </tr>
    {% for user in users %}
    <tr>
        <td>{{ user.email }}</td>
        <td>{{ user.rfid_tag }}</td>
<!--            <td><input type="checkbox" onclick="return false;"
            {% if user.active is sameas true %}
                checked
            {% endif %}
            ></td>
        <td>{% if user.confirmed_at == 'None' %}
                {{ user.confirmed_at }}
            {% else %}
                not yet
            {% endif %}
        </td> -->
        <td>{{ user.login_count }}</td>
        <td><a href="{{ url_for('recipes.modify_user', email=user.email)}}">modify</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
